# Node / Vite / TypeScript
node_modules/
dist/
.vite/
*.log
*.tmp
*.temp
*.cache

# Editor/OS
.vscode/
.DS_Store
Thumbs.db

# TypeScript build info
*.tsbuildinfo

# Env files
.env
.env.*

# Coverage
coverage/

# Prisma
node_modules/.prisma/

# Misc
!.vscode/extensions.json

/generated/prisma
